Package: com.pizzasdu83.betterlyricsytm
Name: I will buuuuurn my bread! 🎶🎵
Version: 0.1.0
Architecture: iphoneos-arm64
Description: burn my dread
Maintainer: pizzasdu83
Author: pizzasdu83
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
