Package: com.pizzasdu83.betterlyricsytm
Name: BetterLyricsYTM
Version: 0.1.0
Architecture: iphoneos-arm64
Description: Paroles synchronisees (LRCLIB) dans l'onglet Paroles de YouTube Music
Maintainer: pizzasdu83
Author: pizzasdu83
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
